@font-face {
  font-family: "BarlowCondensed";
  src: url("../../assets/fonts/BarlowCondensed-ExtraBoldItalic.ttf");
}
.App-logo {
  margin-top: 5rem;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  position: relative;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: white;
  animation: slide-down 1s ease;
}

.Container {
  position: absolute;
  top: -5rem;
  display: flex;
  flex-direction: column;
}

.App-link {
  background-color: #fff;
  color: #ff5757;
  padding: 0.5rem 1rem;
  text-decoration: none;
  transition: 0.3s ease;
  transition-property: transform, border;
}

.App-link:hover {
  transform: translateY(-5px);
  border: 1px solid #000;
}

.custom-shape-divider-top-1600866841 {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1600866841 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1600866841 .shape-fill {
  fill: #ffffff;
}

@keyframes slide-down {
  0% {
    top: -70vh;
  }
  100% {
    top: 0;
  }
}
.text-slider {
  font-family: "BarlowCondensed";
  font-variant: petite-caps;
  color: rgb(240, 107, 107);
  position: absolute;
  display: block;
  width: 100%;
  overflow: hidden;
  height: 2rem;
  top: 90vh;
}
.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 14s linear infinite;
}

.marquee2 span {
  animation-delay: 7s;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
