:root {
  --background-color-app: #313131;
  --secondary-color: #414141;
  --third-color: #525252;
  --fourth-color: #ca3e47;
}

.App {
  text-align: center;
  background-color: var(--background-color-app);
  height: calc(var(--vh, 1vh) * 100);

}
